<footer class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2023 Egg New</p>

        <a href="/"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
            </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a th:href="@{/inicio}" class="nav-link px-2 text-muted">Muro Principal</a>
            </li>
            <li class="nav-item"><a type="button" class="nav-link px-2 text-muted" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                    Contacto
                </a>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Contacto</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h2 class="fs-5">Vía WhatsApp</h2>
                                <p>3782 - 430383</p>
                                <hr>
                                <h2 class="fs-5">Vía Mail</h2>
                                <p><a href="">noticiasegg@gmail.com</a>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item"><a type="button" class="nav-link px-2 text-muted" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal2">
                    Sobre Nosotros
                </a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Sobre Nosotros</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <!-- Scrollable modal -->
                            <div class="modal-dialog modal-dialog-scrollable">
                                <p class="mx-1">
                                    Bienvenido a Egg New, una plataforma digital donde encontrarás noticias de última hora, reportajes de investigación, análisis político y económico, y todo lo que necesitas saber sobre los temas que marcan la agenda nacional e internacional.

                                    Nosotros somos un equipo de periodistas y expertos en comunicación comprometidos con la verdad, la transparencia y la calidad en la información. Creemos en el papel fundamental que juegan los medios de comunicación en una sociedad democrática, y por eso trabajamos incansablemente para brindarte la mejor cobertura noticiosa.

                                    En Egg New nos enfocamos en el rigor periodístico y la objetividad en la información, y nos aseguramos de investigar a fondo antes de publicar cualquier noticia. Además, nuestro equipo de editores y correctores revisa minuciosamente cada artículo para garantizar que sea claro, conciso y preciso.

                                    Sabemos que en el mundo actual hay una sobrecarga de información y que resulta difícil discernir qué es real y qué no lo es. Por eso, nuestro compromiso con la veracidad y la honestidad en la información es lo que nos distingue de otros medios de comunicación. En Egg New, nos preocupamos por brindarte la verdad, sin importar cuán incómoda o impopular pueda ser.

                                    Nos sentimos orgullosos de ser una plataforma independiente, sin ataduras políticas ni corporativas. Nuestra única lealtad es con nuestros lectores y con la misión de llevarles la información más precisa y confiable.

                                    Gracias por visitar Egg New. Esperamos ser tu fuente confiable de noticias y análisis. Si tienes alguna sugerencia, comentario o denuncia, no dudes en contactarnos. Tu opinión es muy valiosa para nosotros.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</footer>
